

 @media only screen and (max-width: 900px) {
  body {
        transform-origin: top left;
        transform: scale(.4 ,.4);
        width: 400%;
        }
}


 @media print { 
     .TheButtons{
         display:none;
         /* visibility: hidden; */
        } 

 }
body{
  background-color: rgb(74, 74, 67);
 }

 img {
 margin-left : 20px;
 margin-bottom : -50px;
 border-radius: 10px;
 transform: scale(.9 ,.9);
 }